
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="nav-bar">
        @Html.ActionLink("SignUp", "Register", "User",null,new { @class="nav-link" })
        @Html.ActionLink("SignIn", "Login", "User",null, new { @class = "nav-link" })
    </div>
<div>
    <img src="~/Images/fullbus.jpg"/>
</div>