
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>

@using (Html.BeginForm())
{
    @Html.ActionLink("LogOut","Login","User")
    try
    {
        if (OnlineBusBookingSystem.Controllers.UserController.currentUser.role == "Admin")
        {
            @Html.ActionLink("Manage User", "Manage_User", "Admin")
            @Html.ActionLink("Manage Bus", "Manage_Bus", "Bus")
        }
        else if (OnlineBusBookingSystem.Controllers.UserController.currentUser.role == "User")
        {
            @Html.ActionLink("Book Bus", "Book", "Bus")
        }
    }
    catch(Exception)
    {

    }
}