<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet"/>
   <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mohanraj</p>
        </footer>
    </div>
</body>
</html>
